<%= simple_form_for @carte do |f| %>
	<div class="row">
		<div class="form-group col-lg-6">
			<%= f.input :name, label: 'Nom', class: 'form-control' %>
		</div>
		<div class="form-group col-lg-6">
			<%= f.association :type, label: 'Type', class: 'form-control' %>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<%= f.association :races, label: 'Races', as: :check_boxes, item_wrapper_tag: :label, item_wrapper_class: 'checkbox-inline' %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-lg-4">
			<%= f.input :mana, label: 'Mana', class: 'form-control' %>
		</div>
		<div class="form-group col-lg-4">
			<%= f.input :rarete, label: 'Rareté', class: 'form-control' %>
		</div>
	</div>
	<%= f.submit 'Enregistrer', class: 'btn btn-primary'%>
<% end %>
