<% if @carte.races.any? %>
	<table class='table'>
		<thread>
			<th>Nom</th>
			<th>Type</th>
			<th>Action</th>
		</thread>
		<tbody>
			<% @carte.races.each do |race| %>
				<tr>
					<td><%= race.name %></td>
					<td><%= type_badge race.type, race.type.color %></td>
					<td><%= link_to 'Afficher', race, class: 'btn btn-info' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>
		Il n'y a pas encore de race.
	</p>
<% end %>