<h1>Liste des cartes</h1>

<p>
	<%= link_to 'Ajouter une Carte', new_carte_path, class: 'btn btn-success' %>
</p>

<% if @cartes.any? %>
	<section class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<% @cartes.each do |carte| %>
					<tr>			
						<td><%= carte.number %></td>
						<td><%= carte.name %></td>
						<td><%= carte.type ? type_badge(carte.type, carte.type.color) : 'Aucun' %></td>
						<td><%= link_to 'Afficher', carte, class:'btn btn-info' %>
							<%= link_to 'Editer', edit_carte_path(carte), class:'btn btn-warning' %>
							<%= link_to 'Supprimer', carte, 
								method: :delete,
								data: { confirm: "Etes-vous sûr(e) de vouloir supprimer #{carte.name} ?" },
								class: 'btn btn-danger' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</section>
	<%= will_paginate @cartes, renderer: BootstrapPagination::Rails %>
<% else %>
	<p>Il n'y a pas encore de Carte.</p>
<% end %>