<h1>Afficher une Carte</h1>

<p>
	Nom : <%= @carte.name %>
</p>

<p>
	Type:
	<% type = @carte.type %>
	<% if type.nil? -%>
		aucun
	<% else %>
		<%= type_badge type, type.color %>
	<% end %>
</p>
<p>Rareté : <%= @carte.rarete %></p>
<p>Numero : <%= @carte.number %></p>
<p>mana : <%= @carte.mana %></p>

<h2>Liste des Races</h2>

<%= render 'races_list' %>

<p>
	<%= link_to 'Retour', cartes_path, class: 'btn btn-default' %>
</p>