<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nom' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.association :type, label: 'Type' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enregistrer', class: 'btn-btn-success' %>
  </div>
<% end %>
