<p id="notice"><%= notice %></p>

<h1>Liste des races</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.description %></td>
        <td><%= type_badge(race.type) %></td>
        <td><%= link_to 'Afficher', race, class:'btn btn-info' %></td>
        <td><%= link_to 'Modifier', edit_race_path(race), class:'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', race, method: :delete, data: { confirm: 'Etes-vous sur(e) ?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
