<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @race.type.name %>
  <%= @race.type.color %>
</p>

<%= link_to 'Modifier', edit_race_path(@race), class:'btn btn-warning' %> |
<%= link_to 'Retour', races_path, class:'btn btn-default' %>
