<p id="notice"><%= notice %></p>

<h1>Listing Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.color %></td>
        <td><%= link_to 'Afficher', type, class:'btn btn-info' %></td>
        <td><%= link_to 'Modifier', edit_type_path(type), class:'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', type, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_type_path %>
