<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= type_badge(@type, @type.color) %>
</p>

<%= link_to 'Modifier', edit_type_path(@type), class:'btn btn-warning' %> |
<%= link_to 'Retour', types_path, class:'btn btn-default' %>