<h1>
	Bienvenue sur 
	<%= Rails.application.class.parent_name %> !
</h1>
<p>
	<%= link_to 'Liste des Cartes', cartes_path, class: 'btn btn-default' %>
	<%= link_to 'Liste des Types', types_path, class: 'btn btn-default' %>
	<%= link_to 'Liste des Races', races_path, class: 'btn btn-default' %>
</p>