<!DOCTYPE html>
<html lang="fr">
<head>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	
	<title>Hearthdex</title>
	
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<% unless Rails.application.assets.find_asset("#{controller_name}.css").nil? -%>
		<!-- Load controller-specific stylesheet if available -->
		<%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true %>
	<% end -%>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<% unless Rails.application.assets.find_asset("#{controller_name}.js").nil? -%>
		<!-- Load controller-specific script if available -->
		<%= javascript include_tag controller_name, 'data-turbolinks-track' => true %>
	<% end %>
	
	<%= csrf_meta_tags %>
</head>
<body class=">%= "#{controller_name}-#{action_name}" %>">
	<div class="container">
		<h1>
			<%= link_to Rails.application.class.parent_name, root_path %>
		</h1>
		<% flash.each do |name, msg| -%>
			<div class="alert alert-info alert-<%= name %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= content_tag :div, msg, id: "flash_{name}" %>
			</div>
		<% end -%>
	
		<br>
		<%= yield %>
	</div>
</body>
</html>